<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Digital Twins</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Digital Twins" />
    <meta property="og:title" content="Digital Twins" />
    <meta property="og:site_name" content="Digital Twins" />
    <meta property="og:description" content="Digital Twins" />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
